/** colors */
$header-bg: #66a7b8;
$header-fg: #fff;
$content-bg: #fff;
$content-fg: #162020;
$accent-color: #ffeb00;

/** dimensions */
$default-padding: 20px;
$avatar-size: 200px;

/** misc */
$default-transition: all 1s;
