/** colors */
$header-bg: #66a7b8;
$header-fg: #fff;
$content-bg: #fff;
$content-fg: #27515a;
$link-fg: #42798f;
$accent-color: #ffeb00;

/** dimensions */
$default-padding: 20px;

/** misc */
$transition-length: 1s;
