@import './_variables';
@import './_mixins';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $content-bg;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1 0 auto;
}

header {
  background-color: $header-bg;
  color: $header-fg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: $default-padding;
}

h1 {
  font-size: 3em;
  font-family: 'Pacifico', 'Lato', sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

.Avatar {
  border-radius: 50%;
  border: 10px $header-fg solid;
  max-width: $avatar-size;
  margin: auto;
  transition: $default-transition;

  &:hover {
    max-width: $avatar-size + 20;
  }
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: $content-fg;

  &-column {
    text-align: center;
    box-sizing: border-box;
    padding: $default-padding;
    width: 33%;

    @include md {
      width: 100%;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: $default-padding;
  background-color: $header-bg;
  color: $header-fg;
  line-height: 24px;
}

.LinkList {
margin: 0;
list-style: none;

  &-item {
  padding-right: $default-padding;
  display: inline;

    &-link{
      text-decoration: none;

      &-icon {
        width: 24px;
        fill: $header-fg;
        transition: $default-transition;

        &:hover {
          fill: $accent-color
        }
      }
    }
  }
}
