@import './_variables';
@import './_mixins';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $content-bg;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: $header-bg;
  color: $header-fg;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $default-padding;
}

h1 {
  font-size: 3em;
  font-family: 'Pacifico', 'Lato', sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

.Avatar {
  border-radius: 50%;
  border: 10px $header-fg solid;
  width: 200px;
  margin: auto;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: $content-fg;
  padding: $default-padding;

  &-link {
    font-weight: bold;
    text-decoration: none;
    transition: color $transition-length;
    color: $link-fg;

    &:visited {
      color: $link-fg;
    }

    &:hover {
      color: darken($accent-color, 15%);
    }
  }
}
