@import './_variables';
@import './_mixins';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $content-bg;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1 0 auto;
}

header {
  background-color: $header-bg;
  color: $header-fg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: $default-padding;
}

h1 {
  font-size: 3em;
  font-family: 'Pacifico', 'Lato', sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

.Avatar {
  border-radius: 50%;
  border: 10px $header-fg solid;
  max-width: $avatar-size;
  margin: auto;
  transition: $default-transition;

  &:hover {
    max-width: $avatar-size + 20;
  }
}

h3 {
  margin-top: 0;
  font-size: 2em;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: $content-fg;

  &-column {
    text-align: center;
    box-sizing: border-box;
    padding: $default-padding;
    line-height: 2em;
    width: 33%;

    @include md {
      width: 100%;
    }

    &-icon {
      height: 50px;
    }

    &-text {
      text-align: left;
      padding-bottom: $default-padding;
    }

    &-link {
      font-weight: bold;
      text-decoration: none;
      transition: $default-transition;
      color: $content-fg;

      &:visited {
        color: $content-fg;
      }

      &:hover {
        color: darken($accent-color, 15%);
      }
    }

    &-list {
      text-align: left;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: $default-padding;
  background-color: $header-bg;
  color: $header-fg;
  line-height: 24px;
}

.LinkList {
  margin: 0;
  list-style: none;

  &-item {
    padding-right: $default-padding;
    display: inline;

    &-link {
      text-decoration: none;
      transition: $default-transition;
      fill: $header-fg;

      &:hover {
        fill: $accent-color;
      }

      &-icon {
        width: 24px;
      }
    }
  }
}
