/** colors */
/** dimensions */
/** misc */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column; }

.Content {
  flex: 1 0 auto; }

header {
  background-color: #66a7b8;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px; }

h1 {
  font-size: 3em;
  font-family: 'Pacifico', 'Lato', sans-serif;
  margin: 0; }

h2 {
  margin: 0; }

.Avatar {
  border-radius: 50%;
  border: 10px #fff solid;
  max-width: 200px;
  margin: auto;
  transition: all 1s; }
  .Avatar:hover {
    max-width: 220px; }

h3 {
  margin-top: 0;
  font-size: 2em; }

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #27515a; }
  .Container-column {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    line-height: 2em;
    width: 33%; }
    @media (max-width: 768px) {
      .Container-column {
        width: 100%; } }
    .Container-column-icon {
      height: 50px; }
    .Container-column-text {
      text-align: left;
      padding-bottom: 20px; }
    .Container-column-link {
      font-weight: bold;
      text-decoration: none;
      transition: all 1s;
      color: #27515a; }
      .Container-column-link:visited {
        color: #27515a; }
      .Container-column-link:hover {
        color: #b3a500; }
    .Container-column-list {
      text-align: left; }

footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 20px;
  background-color: #66a7b8;
  color: #fff;
  line-height: 24px; }

.LinkList {
  margin: 0;
  list-style: none; }
  .LinkList-item {
    padding-right: 20px;
    display: inline; }
    .LinkList-item-link {
      text-decoration: none;
      transition: all 1s;
      fill: #fff; }
      .LinkList-item-link:hover {
        fill: #ffeb00; }
      .LinkList-item-link-icon {
        width: 24px; }
