/** colors */
/** dimensions */
/** misc */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif; }

header {
  background-color: #66a7b8;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px; }

h1 {
  font-size: 3em;
  font-family: 'Pacifico', 'Lato', sans-serif;
  margin: 0; }

h2 {
  margin: 0; }

.Avatar {
  border-radius: 50%;
  border: 10px #fff solid;
  width: 200px;
  margin: auto; }

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #27515a;
  padding: 20px; }
  .Container-link {
    font-weight: bold;
    text-decoration: none;
    transition: color 1s;
    color: #42798f; }
    .Container-link:visited {
      color: #42798f; }
    .Container-link:hover {
      color: #b3a500; }
